body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #4f78e7;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

#recipe-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

#recipe-title {
    font-size: 24px;
    margin: 10px 0;
}

#recipe-instructions {
    font-size: 16px;
    margin: 20px 0;
}

#volver-a-inicio {
    display: block;
    background-color: #4f78e7;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 200px;
}

#volver-a-inicio:hover {
    background-color: #337da8;
}


@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    #recipe-container {
        max-width: 100%;
        padding: 10px;
    }

    #recipe-title {
        font-size: 20px;
    }

    #recipe-instructions {
        font-size: 14px;
    }

    #volver-a-inicio {
        max-width: 100%;
    }
}