
html{
    background-color: rgb(37, 166, 226);
}
#present_chiquitos {
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    background-color: #f59d63; 
    padding: 20px; 
    border: 1px solid black; 
    margin: 20px; 
    font-family: 'Handlee', cursive; 
    color: #000080; 
  }


.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
  
  .texto {
    background-color: lightblue; /
    padding:20px; 
    border: 1px solid black;
  }
  
  .fotos {
    display: grid;
    gap: 10px; 
  }
  
  .foto {
    background-color: lightblue; 
    padding: 20px; 
    text-align: center;
    border: 1px solid black;
  }
  
  
  .foto img {
    max-width: 100%; 
    height: auto; 
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 2fr 1fr; 
    }
  }
  .volver {
    text-align: center;
    margin-top: 20px;
}

.volver a {
    text-decoration: none;
    background-color: #5f25e7; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.volver a:hover {
    background-color: #2a0d91; 
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}


@media (max-width: 767px) {
  .footer-logo img {
    display: none;
  }
 
  .footer-content {
   text-align: center;
   font-size: 10px;
  }


}

.footer-contact p {
  margin: 5px 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
  
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


.copyright {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
  font-size: 12px;
}

 