
html{
    background-color: rgb(37, 166, 226);
}
#present_chiquitos {
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    background-color: #f59d63; 
    padding: 20px; 
    border: 1px solid black; 
    margin: 20px; 
    font-family: 'Handlee', cursive; 
    color: #000080; 
  }


.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
  
  .texto {
    background-color: lightblue; /
    padding: 20px; 
    border: 1px solid black;
  }
  
  .fotos {
    display: grid;
    gap: 10px; 
  
  .foto {
    background-color: lightblue; 
    padding: 20px; 
    text-align: center;
    border: 1px solid black;
  }
  
  
  .foto img {
    max-width: 100%; 
    height: auto; 
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 2fr 1fr; 
    }
  }

  .volver {
    text-align: center;
    margin-top: 20px;
}

.volver a {
    text-decoration: none;
    background-color: #1e50bb; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.volver a:hover {
    background-color: #181088;  