body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html{

    background-color: #4f78e7;


}

header {
    background-color:lightblue;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 32px;
    color: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
    border: 2px solid #333;
    padding: 10px;
    background-color: lightblue;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4f78e7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


#volver_a_inicio {
    display: block;
    background-color: lightblue;
    color: #050505;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    border: 2px solid #333;
}

#volver_a_inicio:hover {
    background-color: #5476b6;
}




h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #080808;
}

ul, ol {
    margin-top: 10px;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
}


ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.recipe {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}


.recipe a {
    display: inline-block;
    
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

#saludo{

    background-color: #f59d63;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    max-width: 100px;
  }
  
  
  @media (max-width: 767px) {
    .footer-logo img {
      display: none;
    }
   
    .footer-content {
     text-align: center;
     font-size: 10px;
    }
  
  
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 5px 0;
    
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  
  .copyright {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 12px;
  }