/* Import the Google font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* Global styles */
body {
  background-color: #4f78e7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Heading */
h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px 0;
  background-color: lightblue;
  color: #030303;
  margin: 0;
  font-family: 'Kalam', cursive;
  border: 2px solid black;
  grid-area: heading;
}

/* Search form */
#formulario_busqueda {
  text-align: center;
  margin: 20px auto;
  grid-area: search-form;
}

/* Search input field */
#query {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

/* Search button */
button {
  background-color: lightblue;
  color: #111111;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Results grid */
#results {
  margin: 20px;
  display: grid;
  grid-template-areas:
    'heading heading'
    'search-form search-form'
    'results results';
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; /* Espacio entre las recetas */
}




/* Recipe item */
.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: grid; /* Usamos grid para los elementos de las recetas */
  grid-template-rows: auto 1fr auto; /* Tres filas: título, contenido, enlace */
}

/* Recipe image */
.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Recipe heading */
.recipe h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

/* Recipe paragraph */
.recipe p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

/* Recipe link */
.recipe a {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 0 0 5px 5px;
}

/* Hover effect for recipe link */
.recipe a:hover {
  background-color: #0056b3;
}

/* "Volver a Inicio" button */
#volver_a_inicio {
  display: grid; /* Usamos grid para el botón "Volver a Inicio" */
  place-items: center; /* Centra el botón en el contenedor */
  background-color: lightblue;
  color: #0c0c0c;
  text-align: center


  @media (max-width: 768px) {
    #results {
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
    #query {
        width: 100%; /* Make the search input span the full width */
        padding: 15px;
        font-size: 20px;
    }
    button {
        padding: 15px 30px;
        font-size: 20px;
    }
}