
html{
    background-color: rgb(37, 166, 226);
}
#present_chiquitos {
    font-size: 18px; /* Tamaño de letra */
    font-weight: bold; /* Negrita */
    text-align: center; 
    background-color: #f59d63; 
    padding: 20px; 
    border: 1px solid black; 
    margin: 20px; 
    font-family: 'Handlee', cursive; 
    color: #000080; /* color del texto */
  }


.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Inicialmente, una sola columna */
    gap: 20px; /* Espacio entre cajas */
  }
  
  .texto {
    background-color: lightblue; /* Fondo de la columna de la receta */
    padding: 20px; 
    border: 1px solid black;
  }
  
  .fotos {
    display: grid;
    gap: 10px; /* Espacio entre fotos */
  }
  
  .foto {
    background-color: lightblue; /* Fondo de las cajas de fotos */
    padding: 20px; /* Espaciado interno para las fotos */
    text-align: center;
    border: 1px solid black;
  }
  
  /* Tamaño de las imágenes dentro de las cajas de fotos */
  .foto img {
    max-width: 100%; /* El ancho máximo es el 100% del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 2fr 1fr; /* Cambia a dos columnas con la columna de texto más ancha en PC*/
    }
  }
  
  