
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

  
h1{color:white;
   font-size: 30px;
   background-color: #FF7F50;
   text-align: center;
   font-family: Dancing Script;
}
#bienvenida{
  background-color:#8FBC8F ;
}
html{
  background-color: #FFE4C4;
}